<!-- public/productos.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #222e35;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
            background-color: #111b21;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1{
            text-align: center;
            color: #FAFAFA;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #DDD;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        td {
            background-color: #FAFAFA;
        }
        .button-container {
            text-align: right;
            margin-bottom: 10px;
        }
        .crud-button {
            padding: 10px 15px;
            background-color: #FFA500;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .crud-button:hover {
            background-color: #FF8C00;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Lista de Productos</h1>
        
        <!-- Botón para ir a la interfaz CRUD -->
        <div class="button-container">
            <button class="crud-button" onclick="window.location.href='/producto/crud'">Administrar Productos</button>
        </div>

        <!-- Tabla de productos -->
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <% if (productos.length > 0) { %>
                    <% productos.forEach(producto => { %>
                        <tr onclick="location.href='/producto/<%= producto._id %>'">
                            <td><%= producto.Nombre %></td>
                            <td><%= producto.Descripcion %></td>
                            <td>$<%= producto.Precio.toFixed(2) %></td>
                            <td><%= producto.Stock %></td>
                        </tr>
                    <% }); %>
                    
                <% } else { %>
                    <tr>
                        <td colspan="4">No hay productos disponibles</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
